keys_and_credentials
environment1
directory_venv
tmp_ansible_venv
directory_pyenv_virtualenv
notes.txt
get-certs.sh
credentials.ini
.DS_Store
ansible_debug.txt
ansible_debug2.txt
ansible_debug3.txt
ansible_log_path.txt
