gitlab-csr2.yaml 
keys_and_credentials
environment1
directory_venv
tmp_ansible_venv
directory_pyenv_virtualenv
notes.txt
notes1.txt
notes*.txt
get-certs.sh
credentials.ini
.DS_Store
ansible-debug.txt
ansible-debug2.txt
ansible-debug3.txt
ansible_log_path.txt
.vault_password
/ansible/mariadb/defaults/
.env-lxc-backups
notes_local_VSCode.txt
notes_local_VSCode1.txt
notes_local_VSCode*.txt
.env
